.top-funds-carousel > div > div {
    width: fit-content !important;
}
.top-funds-carousel > div {
    gap: 30px;
}

.all-funds-pagination button {
    border: 1px solid #7B7588;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.all-funds-pagination ul {
    gap: 8px;
}

.all-funds-pagination li[aria-current="page"] button {
    @apply bg-primary text-white;
    border: none
}

div[data-testid="flowbite-tooltip"] {
    max-height: 300px;
    overflow: auto;
}